<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <script src="main.js" type="module" defer></script>
    <title>NHL Standings Generator</title>
</head>
<body id="nhl-standings-generator">
    <header class="header-app">
        <div class="logo">
            <img src="public/logos/NHL.png" alt="">
            <div class="text">
                Standings Generator
            </div>
        </div>
        <a href="" class="generate-btn">Generate</a>
    </header>
    <section class="nhl-standings" @vue:mounted="mounted">
        <section class="conference" v-for="conference in standings">
            <h1>{{ conference.conference.name }}</h1>
            <section class="division" v-for="division in conference.division">
                <h2>{{ division.name }}</h2>
                <section class="standings">
                    <section class="row" v-for="team, position in division.standings">
                        <div class="position">{{ position + 1}}</div>
                        <img :src="`public/logos/${team.logo}`" alt="" class="logo">
                        <div class="shortcut">{{ team.shortcut }}</div>
                        <div class="name">{{ team.name }}</div>
                        <div class="points">{{ team.points }} pts</div>
                    </section>
                </section>
            </section>
            <section class="wild-card">
                <h2>{{ conference.wildCard.name }}</h2>
                <section class="standings">
                    <section :class="{ 'row': true, 'no-playoff': position >= 2 }" v-for="team, position in conference.wildCard.standings">
                        <div class="position">{{ position + 1}}</div>
                        <img :src="`public/logos/${team.logo}`" alt="" class="logo">
                        <div class="shortcut">{{ team.shortcut }}</div>
                        <div class="name">{{ team.name }}</div>
                        <div class="points">{{ team.points }} pts</div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</body>
</html>
